.navbar-custom {
    margin-bottom: 50px;
}

.navbar-custom,
.navbar-custom a {
    color: rgb(99, 99, 99);
    background-color: transparent !important;
}

.navbar-custom a:hover {
    color: rgb(33, 33, 33);
    background-color: transparent !important;
}

.navbar-custom ul.dropdown-menu {
    box-shadow: none !important;
    border-radius: 10px !important;
    border-radius: 10px !important;
}
